<template lang="pug">
  .date-input(style="max-width: 290px;"): v-menu(v-model="isOpen", :close-on-content-click="false", transition="scale-transition", offset-y)
    template(#activator="{ on }")
      v-text-field(:label="label", v-model="textValue", @focus="isOpen = true" v-on="on", readonly)
        v-icon(slot="prepend", @click.stop="isOpen = true") event
    v-date-picker(v-model="dateValue", no-title, scrollable, @input="setDate()")
</template>
<script>
import { CalendarDate } from '../calendar-date'

export default {
  props: {
    label: { type: String, default: 'Date' },
    value: { type: CalendarDate, default: () => new CalendarDate() }
  },
  data () {
    return {
      isOpen: false,
      textValue: this.value.toString(),
      dateValue: this.value.toJSON()
    }
  },
  methods: {
    setDate () {
      this.$emit('input', new CalendarDate(this.dateValue))
      this.isOpen = false
    }
  },
  watch: {
    value: function (val) {
      this.textValue = val ? val.toString() : ''
      this.dateValue = val ? val.toJSON() : ''
    }
  }
}
</script>
