<template lang="pug">
  v-dialog(:value="value", :max-width="maxWidth", persistent)
    v-card
      v-card-title.secondary.lighten-3
        v-flex.title(xs11) {{title}}
        v-spacer
        v-flex(shrink)
          v-btn.ma-0(text, icon, @click="updateValue(false)"): v-icon close
      v-divider
      v-card-text#card-text
        slot
      v-divider
      slot(name="footer" v-if="$slots.footer"): v-card-actions        
</template>
<script>
export default {
  props: {
    title: { datatype: String, default: '' },
    value: { datatype: Boolean, default: false },
    maxWidth: { datatype: Number, default: 800 }
  },
  computed: {
    hasFooterSlot () {
      return !!this.$slots.footer
    }    
  },
  methods: {
    updateValue (val) {
      this.$emit('input', !!val)
    }
  }  
}
</script>
