<template lang="pug">
  div
    v-layout.py-2(align-center)
      slot
      v-spacer
      v-menu(v-if="!hideFilter" :close-on-content-click="false", max-height="400px")
        template(#activator="{on}"): v-btn(text, v-on="on")
          v-icon(left) filter_list
          | Filter…
        v-card: v-list
          v-list-item(v-for="field in sortedFields", :key="field.id", @click="toggleField(field.id)", :id="`fb_list-tile_field-${field.id}`")
            v-list-item-action: v-checkbox(:value="filter.fields[field.id]", hide-details, readonly)
            v-list-item-title {{field.label}}
    v-layout(align-center, wrap)
      v-icon(v-show="hasVisibleFields") mdi-magnify
      v-layout.flex.ml-2(v-for="field in visibleFields", :key="field.id", :id="`fb_field_${field.id}`", align-center, wrap)
        template
          v-select(v-if="field.component === 'v-select'", v-model="filter.values[field.id]", @input="updateFilter", clearable, v-bind="field")
          v-text-field(v-else, :label="field.label", v-model="filter.values[field.id]", @input="updateFilter", clearable)
      v-spacer
      v-btn(text, @click="clearFilter()", v-show="hasVisibleFields")
        v-icon(left) close
        | Clear All  

</template>

<script>
import { FilterModel } from '../../models/filter.model'
import { LocalStorageModel } from '../storage'

const storage = new LocalStorageModel('filters')

export default {
  name: 'FilterBar',
  props: {
    id: String,
    hideFilter: { type: Boolean, default: false }    
  },
  mounted () {
    if (this.id) {
      this.filter = new FilterModel(storage.getObject(this.id))
      if (this.filter.isFiltering) this.$emit('change', this.filter)
    }
  },
  data () {
    return {
      filter: new FilterModel()
    }
  },
  computed: {
    visibleFields () {
      return this.sortedFields.filter(field => this.filter.fields[field.id])
    },
    hasVisibleFields () {
      return this.visibleFields.length > 0
    },
    sortedFields () {
      const output = this.availableFields.slice()
      output.sort((a, b) => a.label.localeCompare(b.label))
      return output
    }
  },
  methods: {
    toggleField (fieldId) {
      if (this.filter.toggleField(fieldId)) {
        this.updateFilter()
      }
    },
    toggleAllFields () {
      this.sortedFields.forEach(field => {
        this.toggleField(field.id)
      })
    },    
    updateFilter () {
      if (this.id) storage.setObject(this.id, this.filter.toJSON())
      this.$emit('change', this.filter)
    },
    clearFilter () {
      if (this.filter.clearFields()) this.updateFilter()
    }        
  }
}
</script>
<style lang="stylus">
  .filter-bar-field
    min-width 250px
    max-width: 50%
    margin-right: 1rem
</style>
