<template lang="pug">
  .global-error: div
    h1 Page Not Found (404)
    p Cannot resolve path: <br> {{$route.path}}
    h4
      a(href="/") Return Home
</template>
<script>
import pageMixin from '../../mixins/page.mixin'

export default {
  mixins: [pageMixin],
  created () {
    this.setBreadcrumbs('Page Not Found')
  }
}
</script>
<style lang="stylus" scoped>
.global-error
  display: flex
  align-items: center
  justify-content: center
  height: 100%

  div
    max-width: 50%

</style>