<template lang="pug">
  v-icon.green--text.text--darken-2(v-if="value") check_circle
  v-icon.red--text.text--darken-2(v-else) cancel
</template>
<script>
export default {
  props: ['value']
}
</script>
