<template lang="pug">
  v-app
    v-app-bar(app, color="secondary lighten-4")
      v-app-bar-nav-icon(@click ="drawer= !drawer")
      v-breadcrumbs(:items="breadcrumbs")
        template(#item="{item}")
          v-toolbar-title
            a(v-if="item.href", :href="item.href") {{item.title}}
            span(v-else) {{item.title}}
          
    v-navigation-drawer(app, v-model="drawer", absolute, temporary)
      v-list-item
        v-list-item-avatar: v-img(src="@/assets/logo.png")
        v-list-item-content: v-list-item-title(class="text-h6") {{appTitle}}
      v-divider
      v-list(dense)
        v-list-item(v-for="item in menuItems" :key="item.title" :href="item.link")
          v-list-item-icon: v-icon {{item.icon}}
          v-list-item-content: v-list-item-title {{item.title}}

    v-main
      v-divider
      v-container(fluid)
        router-view
    v-snackbar(v-model="alert.show", :color="alert.color") {{alert.message}}    
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'App',

  components: {},

  data: () => ({
    appTitle: 'Grow Shop',
    drawer: false,
    menuItems:[
      {title: 'Home', icon: 'home', link: '/#/'},
      {title: 'Customers', icon: 'people', link: '#/customers'},
      {title: 'Products', icon: 'inventory_2', link: '#/products'},
      {title: 'Attendance Register (Todo)', icon: 'pages', link: ''},
      {title: 'Bills (Todo)', icon: 'receipt', link: ''},
    ]
  }),
  computed: {
    ...mapState(['breadcrumbs', 'alert'])
  }
};
</script>
