<template lang="pug">
v-card-text#card-text
	v-layout
		v-flex
			v-text-field(label="Name", v-model="dataModel.name", :rules="validators.name")
			v-text-field(label="Locality", v-model="dataModel.locality")
			v-text-field(label="PhoneNumber", v-model.number="dataModel.phone_number", :rules="validators.phone_number")
			v-text-field(label="Email", v-model="dataModel.email", :rules="validators.email", validate-on-blur)
</template>
<script>
import { CustomerModel } from '../../models/customer.model'

export default {
	props: {dataModel: Object},
	data () {
		return {
			validators: CustomerModel.getValidators()
		}
	}
}
</script>