<template lang="pug">
  section#customer
    v-flex: v-tabs
      v-tab(:to="{path: 'detail', query: $route.query}") Customer
      v-tab(:to="{path: 'configuration', query: $route.query}") Product Configuration
    router-view(:key="id")
</template>
<script>
import customerSvc from '../../services/customer.service'
import pageMixin from '../../mixins/page.mixin'
import alertMixin from '../../mixins/alert.mixin'
const parentBreadcrumb = { title: 'Customers', href: '#/customers' }

export default {
  mixins: [pageMixin, alertMixin],
  props: { id: String },
  mounted () {
    this.loadData()
    if (this.$route.name === 'customer') {
      this.$router.replace({ name: 'customer.detail', query: this.$route.query })
    }
  },
  methods: {
    async loadData() {
			try {
				this.setBreadcrumbs(parentBreadcrumb)
				const { data } = await customerSvc.getCustomer(this.id)
				this.setBreadcrumbs(parentBreadcrumb, data.name)
        this.setCustomer(data)
			} catch(err){
				this.showAlertError('Error while loading customer detail', err)
			}      
		}
  }
}
</script>
