<template lang="pug">
section#customers
  gs-filter-bar#custs_filter-bar(@change="updateFilter")
    v-btn(@click="openDialog()")
        v-icon add
        span New Customer 
      
  v-data-table(:headers="headers",:items="customers.data",:loading="isLoading",:server-items-length="customers.total",:options.sync="paginationSync", must-sort)
    template(v-slot:item.name="{ item }")
      a(:href="`#/customer/${item.id}`") {{ item.name }}
    template(v-slot:item.actions="{ item }")
      td: gs-yes-no(v-model="!item.is_expired")
      
  gs-dialog(title="New Customer", v-model="isDialogOpen")
    gs-customer-edit(:data-model="newItem", v-if="newItem")
    v-card-actions(slot="footer")
      v-spacer
      v-btn(text, @click="isDialogOpen=false") Cancel
      v-btn(@click="addCustomer()", :disabled="isSaving || !newItem.isValid", :loading="isSaving") Save      
</template>
<script>
import { CustomerModel } from "../../models/customer.model";
import customerSvc from "../../services/customer.service";
import pageMixin from '../../mixins/page.mixin'
import alertMixin from '../../mixins/alert.mixin'

export default {
  name: "Customers",
  mixins: [pageMixin, alertMixin],
  components: {
    'gs-filter-bar': () => import('../Customers/FilterBarCustomers.vue'),
    'gs-customer-edit': () => import('../Customers/CustomerEdit.vue')
  },
  mounted() {
    this.setBreadcrumbs('Customers')
  },
  data() {
    return {
      isDialogOpen: false,
      isSaving: false,
      newItem: new CustomerModel(),
      customers: { data: [], total: 0 },
      headers: [
        { text: "Name", value: "name" },
        { text: "Locality", value: "locality" },
        { text: "Phone", value: "phone_number" },
        { text: "Email", value: "email" },
        { text: "Active", value: "actions", sortable: false },
      ],
    };
  },
  methods: {
    openDialog() {
      this.newItem = new CustomerModel();
      this.isDialogOpen = true;
      this.isSaving = false;
    },
    addCustomer() {
      this.isSaving = true;
      customerSvc.saveCustomer(this.newItem).then((response) => {
        this.isDialogOpen = false;
        this.isSaving = false;
        this.$router.push({name: "customer", params: { id: response.data.id }})
      }).catch(err => {
        this.showAlertError('Error adding customer', err)
        this.isSaving = false
      })
      
    },
    async loadData() {
      try {
        this.customers = await customerSvc.getAllCustomers(this.pagination,this.filter);
      } catch (err) {
        this.showAlertError('Error loading customers', err)
      }
    },
  }  
};
</script>
