<template lang="pug">
	section#customer-config.detail-fixed
		v-layout.pt-5
			v-flex(sm5)
				v-card
					v-card-title.title Customer Daily Milk
					v-card-text
						v-layout
							v-flex
								v-combobox(label="Products", :items="items")
								v-text-field(label="Quantity")
						v-layout
							v-flex
								gs-date-input(label="Effective From")
							v-flex
								gs-date-input(label="Effective To")
						v-layout(justify-center)
							v-btn(color="primary") Save
							v-btn(text) Cancel							
			v-flex(sm7).pl-2
				v-card
					v-card-text
						v-data-table(:headers="headers",:items="data", hide-default-footer)
							template(v-slot:item.actions="{ item }")
								v-icon.mr-2(small, title="Edit") edit
								v-icon(small, title="Delete") delete								
</template>
<script>
export default {
	components: {
    'gs-date-input': () => import('../../core/components/DateInput.vue')		
  },
	data() {
		return {
			items: ['Vikas', 'nandan'],
			headers: [
				{ text: "Product", value: "name" },
        { text: "Quantity", value: "quantity" },
        { text: "Effective From", value: "efffrom" },
        { text: "Effective To", value: "effto" },
        { text: "", value: "actions", sortable: false }
			],
			data: [
				{ name: "Vikas", quantity: 2, efffrom: '2021-10-01', effto: '2021-11-01' },
				{ name: "Nandan", quantity: 1, efffrom: '2021-11-01', effto: '9999-12-31' }        
			]
		}
	}
}
</script>
<style lang="stylus" scoped>
.detail-fixed
	padding-top: 10px
.title
	justify-content: center	
</style>
