<template lang="pug">
	div#customer-detail
		v-layout.pt-4
			v-btn(@click="openDialog()")
				v-icon edit
				span Edit Customer
		v-layout.pt-4
			v-flex
				.detail
					.detail-field
						.caption Name
						p: strong {{customer.name}}
					.detail-field
						.caption Locality
						p: strong {{customer.locality}}
					.detail-field
						.caption Phone Number
						p: strong {{customer.phone_number}}
					.detail-field
						.caption Email
						p: strong {{customer.email}}
					v-layout
						td: gs-yes-no(v-model="!customer.is_expired")
						span.pl-2 {{customer.is_expired ? 'Archived' : 'Active'}}

		gs-dialog(title="Edit Customer", v-model="isDialogOpen")
			gs-customer-edit(v-if="editItem", :data-model="editItem")
			v-card-actions(slot="footer", v-if="editItem")
				v-checkbox(v-if="editItem", v-model="editItem.is_expired", label="Archive", hide-details)
				v-spacer
				v-btn(text, @click="isDialogOpen=false") Cancel
				v-btn(@click="updateUser()", :disabled="!editItem.isValid", :loading="isSaving", color="primary") Save

</template>
<script>
import customerSvc from '../../services/customer.service'
import pageMixin from '../../mixins/page.mixin'
import alertMixin from '../../mixins/alert.mixin'
import { mapState } from 'vuex' 

export default {	
	mixins: [pageMixin, alertMixin],
	components: {
    'gs-customer-edit': () => import('./CustomerEdit.vue')
  },
	data() {
		return {
			isDialogOpen: false,
			isSaving: false,
			editItem: null
		}
	},
	computed: {
    ...mapState(['customer'])
  },
	
	methods: {
		openDialog () {
			this.editItem = this.customer.makeCopy()
			this.isDialogOpen = true			
		},
		async updateUser () {
      this.isSaving = true
      try {
        const { data } = await customerSvc.saveCustomer(this.editItem)
        this.setCustomer(data)
        this.showAlertSuccess('Saved Customer successfully')
        this.isDialogOpen = false
      } catch (err) {
        this.showAlertError('Error saving Customer', err)
      } finally {
        this.isSaving = false
      }
    }
	}	
}
</script>
<style lang="stylus" scoped>
.detail
  padding: 0 16px

	.detail-field
		padding: 8px 0
		font-size: 16px
		p
			margin: 8px 0
		.caption
			text-transform: uppercase
</style>