<template lang="pug">
	v-card(v-if="data", class="mx-auto",max-width="300")
		v-card-title
			v-icon.mr-2 people
			span {{data.name}}
		v-card-text
			p {{data.locality}}, {{data.phone_number}}
			span {{data.email}}
		v-card-actions
			span: gs-yes-no(v-model="!data.is_expired", align="right")
			v-spacer
			v-btn(class="ma-2", text, @click="viewDetail(data.id)")
				span View Detail
				v-icon(dark, left) mdi-arrow-right				

</template>
<script>
export default {
	props: ['data'],
	methods: {
		viewDetail(id) {
			this.$router.push({name: "customer", params: { id: id }})
		}
	}
}
</script>
