<template lang="pug">
  v-container(fluid, grid-list-md): v-layout(row, wrap, v-if="customers")
      v-flex(v-for="item in customers.data", :key="customers.id", xs12, sm6, md4, lg3, xl2)
        gs-customer-card(:data="item")
</template>

<script>
import pageMixin from '../../mixins/page.mixin'
import customerSvc from "../../services/customer.service";

export default {
  name: 'Home',
  components: {
    'gs-customer-card': () => import('./CustomerCard.vue')
  },
  data() {
    return {
      customers: null
    }
  },
  mixins: [pageMixin],
  mounted() {
    this.setBreadcrumbs('Home')
  },
  created() {
    this.loadData()
  },
  methods: {
    async loadData() {
      try {
        this.customers = await customerSvc.getAllCustomers(this.pagination,this.filter);
      } catch (err) {
        this.showAlertError('Error loading customers', err)
      }
    }
  }
}
</script>
