<template lang="pug">
	section#products
		gs-filter-bar#prod_filter-bar(@change="updateFilter")
			v-btn(@click="openDialog(null)")
				v-icon add
				span New Product
		
		v-data-table(:headers="headers",:items="products.data",item-key="id",:loading="isLoading",:server-items-length="products.total",:options.sync="paginationSync", must-sort, show-expand)
			template(v-slot:item.is_expired="{ item }")
				td: gs-yes-no(v-model="!item.is_expired")
			template(v-slot:item.actions="{ item }")
				td
					v-icon.red--text.mr-4(small, @click="openDialog(item, true)", title="Add Rate") add
					v-icon(small, class="mr-4", @click="openDialog(item)", title="Edit Product") edit
					v-icon(small, @click="openDeleteDialog(item)", title="Delete Product") delete
			template(v-slot:expanded-item="{headers, item}")
				td(:colspan="headers.length")
					v-data-table(:headers="subHeaders",:items="item.products_rate",item-key="id", :hide-default-footer="true")
						template(v-slot:item.rate="{item}")
							td Rs. {{item.rate}}
						template(v-slot:item.subactions="{ item }")
							td
								v-icon(v-if="item.is_expired", small, class="mr-4", @click="openDialog(item,true)", title="Edit Rate") edit
								v-icon(small, @click="openDeleteDialog(item)", title="Delete Rate") delete
						template(v-slot:no-data)
							span.red--text No rate available, Add rate

		gs-dialog(:title="title", v-model="isDialogOpen", :maxWidth="maxWidth")
			gs-product-edit(:data-model="editItem", v-if="editItem && !dialogDelete")
			v-card-text(v-if="dialogDelete") Are you sure you want to delete this item?
			v-card-actions(slot="footer")
				v-checkbox.ma-2(v-if="editItem && (!editItem.isProductRate) && !dialogDelete", v-model="editItem.is_expired", label="Is Expired", hide-details)
				v-spacer
				v-btn(text, @click="reset()") Cancel
				v-btn(v-if="!dialogDelete", @click="save()", :disabled="canSave", :loading="isSaving") Save
				v-btn(v-if="dialogDelete", @click="remove()", :loading="isSaving") OK
</template>

<script>
import { ProductModel } from "../../models/product.model"
import { ProductRateModel } from "../../models/product_rate.model"
import productSvc from "../../services/product.service"
import productRateSvc from "../../services/product_rate.service"
import pageMixin from '../../mixins/page.mixin'
import alertMixin from '../../mixins/alert.mixin'

export default {
  name: "Products",
  mixins: [pageMixin, alertMixin],
  components: {
    'gs-filter-bar': () => import('./FilterBarProducts.vue'),
    'gs-product-edit': () => import('./ProductEdit.vue')
  },
  mounted() {
    this.setBreadcrumbs('Products')
  },
  data() {
    return {
			dialogDelete: false,
      isDialogOpen: false,
      isSaving: false,
			maxWidth: 800,
      editItem: new ProductModel(),
			title: 'New Product',
      products: { data: [], total: 0 },
      headers: [
        { text: "Name", value: "name" },
        { text: "Active", value: "is_expired", sortable: false },
				{ text: '', value: "actions", align: 'right', sortable: false, width: '150' }
      ],
			subHeaders: [
        { text: "Price", value: "rate", sortable: false },
        { text: "EffDate", value: "effective_from", sortable: false },
        { text: "EndDate", value: "effective_to", sortable: false },
				{ text: '', value: "subactions", align: 'right', sortable: false, width: '150' }
      ],
    };
  },
	computed: {
    canSave () {
			return (this.editItem && this.editItem.isNew) ? this.isSaving || !this.editItem.isValid
        : this.isSaving || !this.editItem || !this.editItem.isValid
    }
	},
  methods: {
		async loadData() {
      try {
        this.products = await productSvc.getAllProducts(this.pagination,this.filter);
      } catch (err) {
        this.showAlertError('Error loading products', err)
      }
    },
		openDialog (item, isRate=false) {
			const title = isRate ? 'Rate' : 'Product'
			if (item) {
				if (isRate && item instanceof ProductModel) {
					this.editItem = new ProductRateModel()
					this.editItem.name = item.name
					this.editItem.product_id = item instanceof ProductRateModel ? item.product_id : item.id
					this.title = ['Add', title].join(' ')
				} else {
					this.editItem = item.makeCopy()
					this.title = ['Edit', title].join(' ')
				}				
			} else {
				this.editItem = new ProductModel()
				this.title = ['Add', title].join(' ')
			}
			this.isDialogOpen = true;
		},

		openDeleteDialog(item) {
			this.editItem = item
			this.dialogDelete = true
			this.isDialogOpen = true
			this.maxWidth = 500
			if (item instanceof ProductRateModel) {
				this.title = 'Remove Product Rate'
			} else {
				this.title = 'Remove Product'
			}
		},		
    async save() {
			this.isSaving = true;
			try {
				if (this.editItem instanceof ProductRateModel) {
					await productRateSvc.saveProductRate(this.editItem)
				}	else {
					await productSvc.saveProduct(this.editItem)
				}			
				this.showAlertSuccess('Successfully saved Product')
				this.loadData();
			}
			catch(err) { this.showAlertError('Error saving product', err), this.reset()}
			finally {this.reset()}
    },
		async remove() {
			this.isSaving = true
			try {
				if(this.editItem instanceof ProductRateModel) {
					const result = await productRateSvc.removeProductRate(this.editItem)
					this.showAlertSuccess('Successfully removed Product Rate: ' + result.data.rate)
				} else {
					const result = await productSvc.removeProduct(this.editItem)
					this.showAlertSuccess('Successfully removed Product: ' + result.data.name)
				}
				this.dialogDelete = false
				this.loadData()
			}
			catch(err) { this.showAlertError('Error removing Product', err), this.reset() }
			finally { this.reset() }
		},
		reset(){
			this.isSaving = false
			this.isDialogOpen=false
			this.dialogDelete=false
			this.maxWidth = 800
		}
  },
	watch: {
    'isDialogOpen': function (val) {
			if (!val) this.editItem = null
    }
  }
}
</script>