<template lang="pug">
v-card-text#card-text
	v-layout
		v-flex(sm12)
			v-text-field(label="Name", v-model="dataModel.name", :rules="validators.name", :disabled="isProductRate")
	v-layout(v-if="dataModel.isProductRate")
		v-flex(sm2).pr-10
			v-text-field(sm2, label="Price", v-model="dataModel.rate", :rules="validators.rate")
		v-flex(sm5).pl-10
			gs-date-input(label="Effective From", v-model="dataModel.effective_from")
</template>
<script>
import { ProductModel } from '../../models/product.model'

export default {
	props: {dataModel: Object},
	components: {
    'gs-date-input': () => import('../../core/components/DateInput.vue')		
  },
	data () {
		return {
			validators: ProductModel.getValidators(),
			isProductRate: false
		}
	}
}
</script>